{% extends "layout.html" %}

{% block title %}
    Rounds
{% endblock %}

{% block main %}

    <h1>My Rounds</h1>

    {% for rounds, scores, courses, players, dates in combined %}

<!-- 18 hole round -->

        {% if rounds.holes == 18 %}

<!-- Desktop Scorecard-->

            <div class="table-container desktop-scorecard">
                <table class="table-bordered">
                    <tr>
                        <th colspan="22">{{courses.name}}</th>
                    </tr>
                    <tr>
                        <th colspan="22">{{dates}}</th>
                    </tr>
        <!-- Hole headers-->
                    <tr>
                        <td class="t-header">Hole</td>

                        {% for hole in range(1, 10) %}
                            <td class="hole">{{hole}}</td>
                        {% endfor %}

                        <td class="out">Out</td>

                        {% for hole in range(10, 19)%}
                            <td class="hole">{{hole}}</td>
                        {% endfor %}

                        <td class="in">In</td>
                        <td class="t-header">Total</td>
                    </tr>
        <!-- Yardage headers -->
                    <tr>
                        <td class="t-header">Yardage</td>

                        {% for num in range(1, 10) %}
                            <td class="yards">{{ courses["yards_" ~ num] }}</td>
                        {% endfor %}

                        <td class="out">{{courses.front_yards}}</td>

                        {% for num in range(10, 19) %}
                            <td class="yards"> {{courses["yards_" ~ num] }}</td>
                        {% endfor %}

                        <td class="in">{{courses.back_yards}}</td>

                        <td class="t-header">{{courses.total_yards}}</td>
                    </tr>
        <!-- Handicap headers -->
                    <tr>
                        <td class="t-header">Handicap</td>

                        {% for num in range(1, 10) %}
                            <td class="handicap">{{ courses["handicap_" ~ num]}}</td>
                        {% endfor %}

                        <td class="out"></td>

                        {% for num in range(10, 19) %}
                            <td class="handicap">{{ courses["handicap_" ~ num] }}</td>
                        {% endfor %}

                        <td class="in"></td>

                        <td class="t-header"></td>
                    </tr>
        <!-- Par headers -->
                    <tr>
                        <td class="t-header">Par</td>

                        {% for num in range(1, 10) %}
                            <td class="par">{{ courses["par_" ~ num] }}</td>
                        {% endfor %}

                        <td class="out">{{courses.front}}</td>

                        {% for num in range(10, 19) %}
                            <td class="par">{{ courses["par_" ~ num] }}</td>
                        {% endfor %}

                        <td class="in">{{courses.back}}</td>

                        <td class="t-header">{{courses.total}}</td>
                    </tr>
        <!-- User's scores -->
                    <tr>
                        <td class="score">{{name}}</td>

                        {% for num in range(1, 10) %}
                            <td class="score">{{ scores[0]["hole_" ~ num] }}</td>
                        {% endfor %}

                        <td class="out">{{scores[0].front}}</td>

                        {% for num in range(10, 19) %}
                            <td class="score">{{ scores[0]["hole_" ~ num] }}</td>
                        {% endfor %}

                        <td class="in">{{scores[0].back}}</td>

                        <td class="t-header">{{scores[0].total}}</td>
                    </tr>
        <!-- Player(s) scores, if any-->
                    {% for i in range(players|length) %}
                        <tr>
                            <td class="score">{{ players[i] }}</td>

                            {% for num in range(1, 10) %}
                                <td class="score">{{ scores[i + 1]["hole_" ~ num] }}</td>
                            {% endfor %}

                            <td class="out">{{ scores[i + 1].front }}</td>

                            {% for num in range(10, 19) %}
                                <td class="score">{{ scores[i + 1]["hole_" ~ num] }}</td>
                            {% endfor %}

                            <td class="in">{{ scores[i + 1].back }}</td>
                            <td class="t-header">{{ scores[i + 1].total }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>


<!-- Small Laptop Scorecard 18 Holes (1000px - 1200px)-->

            <div class="table-responsive-md small-laptop">
                <table class="table-bordered ">
                    <tr>
                        <th colspan="22">{{courses.name}}</th>
                    </tr>
                    <tr>
                        <th colspan="22">{{dates}}</th>
                    </tr>
        <!-- Hole headers-->
                    <tr>
                        <td class="t-header">Hole</td>

                        {% for hole in range(1, 10) %}
                            <td class="hole">{{hole}}</td>
                        {% endfor %}

                        <td class="out">Out</td>

                        {% for hole in range(10, 19)%}
                            <td class="hole">{{hole}}</td>
                        {% endfor %}

                        <td class="in">In</td>
                        <td class="t-header">Total</td>
                    </tr>
        <!-- Yardage headers-->
                    <tr>
                        <td class="t-header">Yardage</td>

                        {% for num in range(1, 10) %}
                            <td class="yards">{{ courses["yards_" ~ num] }}</td>
                        {% endfor %}

                        <td class="out">{{courses.front_yards}}</td>

                        {% for num in range(10, 19) %}
                            <td class="yards"> {{courses["yards_" ~ num] }}</td>
                        {% endfor %}

                        <td class="in">{{courses.back_yards}}</td>

                        <td class="t-header">{{courses.total_yards}}</td>
                    </tr>
        <!-- Handicap headers -->
                    <tr>
                        <td class="t-header">Handicap</td>

                        {% for num in range(1, 10) %}
                            <td class="handicap">{{ courses["handicap_" ~ num]}}</td>
                        {% endfor %}

                        <td class="out"></td>

                        {% for num in range(10, 19) %}
                            <td class="handicap">{{ courses["handicap_" ~ num] }}</td>
                        {% endfor %}

                        <td class="in"></td>

                        <td class="t-header"></td>
                    </tr>
        <!-- Par headers -->
                    <tr>
                        <td class="t-header">Par</td>

                        {% for num in range(1, 10) %}
                            <td class="par">{{ courses["par_" ~ num] }}</td>
                        {% endfor %}

                        <td class="out">{{courses.front}}</td>

                        {% for num in range(10, 19) %}
                            <td class="par">{{ courses["par_" ~ num] }}</td>
                        {% endfor %}

                        <td class="in">{{courses.back}}</td>

                        <td class="t-header">{{courses.total}}</td>
                    </tr>
        <!-- User's scores -->
                    <tr>
                        <td class="score">{{name}}</td>

                        {% for num in range(1, 10) %}
                            <td class="score">{{ scores[0]["hole_" ~ num] }}</td>
                        {% endfor %}

                        <td class="out">{{scores[0].front}}</td>

                        {% for num in range(10, 19) %}
                            <td class="score">{{ scores[0]["hole_" ~ num] }}</td>
                        {% endfor %}

                        <td class="in">{{scores[0].back}}</td>

                        <td class="t-header">{{scores[0].total}}</td>
                    </tr>
        <!-- Player(s) scores, if any -->
                    {% for i in range(players|length) %}
                        <tr>
                            <td class="score">{{ players[i] }}</td>

                            {% for num in range(1, 10) %}
                                <td class="score">{{ scores[i + 1]["hole_" ~ num] }}</td>
                            {% endfor %}

                            <td class="out">{{ scores[i + 1].front }}</td>

                            {% for num in range(10, 19) %}
                                <td class="score">{{ scores[i + 1]["hole_" ~ num] }}</td>
                            {% endfor %}

                            <td class="in">{{ scores[i + 1].back }}</td>
                            <td class="t-header">{{ scores[i + 1].total }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

<!-- Tablet 18 Hole Scorecard-->

            <div class="tablet-scorecard">
                <div class="table-container">
                    <table class="table-bordered">
                        <tr>
                            <th colspan="{{ 5 + players | length}}">{{courses.name}}</th>
                        </tr>
                        <tr>
                            <th colspan="{{ 5 + players | length }}">{{dates}}</th>
                        </tr>
            <!-- Headers, vertical -->
                        <tr>
                            <th>Hole</th>
                            <th>Yards</th>
                            <th>HCP</th>
                            <th>Par</th>
                            <th>{{ name }}</th>
                            {% for player in players %}
                                <th>{{ player }}</th>
                            {% endfor %}
                        </tr>

            <!-- Front 9 -->

                        {% for hole in range(1, 10) %}
                            <tr>
                                <td class="hole">{{ hole }}</td>
                                <td class="yards"> {{ courses["yards_" ~ hole] }}</td>
                                <td class="handicap">{{ courses["handicap_" ~ hole] }}</td>
                                <td class="par">{{ courses["par_" ~ hole] }}</td>
                                <td>{{ scores[0]["hole_" ~ hole] }}</td>
                                {% for i in range(players|length) %}
                                    <td>{{ scores[i+1]["hole_" ~ hole] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

            <!-- Front / Out -->

                        <tr>
                            <td class="out"><strong>Front</strong></td>
                            <td class="out">{{ courses.front_yards }}</td>
                            <td class="out"></td>
                            <td class="out">{{ courses.front }}</td>
                            <td class="out"><strong>{{ scores[0].front }}</strong></td>
                            {% for i in range(players|length) %}
                                <td class="out"><strong>{{ scores[i+1].front }}</strong></td>
                            {% endfor %}
                        </tr>

            <!-- Back 9 -->

                        {% for hole in range(10, 19) %}
                            <tr>
                                <td class="hole">{{ hole }}</td>
                                <td class="yards"> {{ courses["yards_" ~ hole] }}</td>
                                <td class="handicap">{{ courses["handicap_" ~ hole] }}</td>
                                <td class="par">{{ courses["par_" ~ hole] }}</td>
                                <td>{{ scores[0]["hole_" ~ hole] }}</td>
                                {% for i in range(players|length) %}
                                    <td>{{ scores[i+1]["hole_" ~ hole] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

            <!-- Back / In -->

                        <tr>
                            <td class="in"><strong>Back</strong></td>
                            <td class="in">{{ courses.back_yards }}</td>
                            <td class="in"></td>
                            <td class="in">{{ courses.back }}</td>
                            <td class="in"><strong>{{ scores[0].back }}</strong></td>
                            {% for i in range(players|length) %}
                                <td class="in"><strong>{{ scores[i+1].back }}</strong></td>
                            {% endfor %}
                        </tr>

            <!-- Totals -->

                        <tr>
                            <td class="t-header"><strong>Total</strong></td>
                            <td class="t-header">{{ courses.total_yards }}</td>
                            <td class="t-header"></td>
                            <td class="t-header">{{ courses.total }}</td>
                            <td class="t-header"><strong>{{ scores[0].total }}</strong></td>
                            {% for i in range(players|length) %}
                                <td class="t-header"><strong>{{ scores[i+1].total }}</strong></td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>



<!-- Mobile 18 Hole Scorecard-->

            <div class="mobile-scorecard">
                <div class="table-container">
                    <table class="table-bordered">
                        <tr>
                            <th colspan="{{ 4 + players | length}}">{{courses.name}}</th>
                        </tr>
                        <tr>
                            <th colspan="{{ 4 + players | length }}">{{dates}}</th>
                        </tr>
            <!-- Headers, vertical -->
                        <tr>
                            <th class="{% if players|length == 3 %}shrink-font{% endif %}">Hole</th>
                            <th class="{% if players|length == 3 %}shrink-font{% endif %}">Yards</th>
                            <th class="{% if players|length == 3 %}shrink-font{% endif %}">Par</th>
                            <th><span class="{% if players|length == 3 %}shrink-font{% endif %}">{{ name }}</span></th>
                            {% for player in players %}
                                <th><span class="{% if players|length == 3 %}shrink-font{% endif %}">{{ player }}</span></th>
                            {% endfor %}
                        </tr>

            <!-- Front 9 -->

                        {% for hole in range(1, 10) %}
                            <tr>
                                <td class="hole">{{ hole }}</td>
                                <td class="yards"> {{ courses["yards_" ~ hole] }}</td>
                                <td class="par">{{ courses["par_" ~ hole] }}</td>
                                <td>{{ scores[0]["hole_" ~ hole] }}</td>
                                {% for i in range(players|length) %}
                                    <td>{{ scores[i+1]["hole_" ~ hole] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

            <!-- Front / Out -->

                        <tr>
                            <td class="out {% if players|length == 3 %}shrink-font{% endif %}"><strong>Front</strong></td>
                            <td class="out {% if players|length == 3 %}shrink-font{% endif %}">{{ courses.front_yards }}</td>
                            <td class="out">{{ courses.front }}</td>
                            <td class="out"><strong>{{ scores[0].front }}</strong></td>
                            {% for i in range(players|length) %}
                                <td class="out"><strong>{{ scores[i+1].front }}</strong></td>
                            {% endfor %}
                        </tr>

            <!-- Back 9 -->

                        {% for hole in range(10, 19) %}
                            <tr>
                                <td class="hole">{{ hole }}</td>
                                <td class="yards"> {{ courses["yards_" ~ hole] }}</td>

                                <td class="par">{{ courses["par_" ~ hole] }}</td>
                                <td>{{ scores[0]["hole_" ~ hole] }}</td>
                                {% for i in range(players|length) %}
                                    <td>{{ scores[i+1]["hole_" ~ hole] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

            <!-- Back / In -->

                        <tr>
                            <td class="in {% if players|length == 3 %}shrink-font{% endif %}"><strong>Back</strong></td>
                            <td class="in {% if players|length == 3 %}shrink-font{% endif %}">{{ courses.back_yards }}</td>

                            <td class="in">{{ courses.back }}</td>
                            <td class="in"><strong>{{ scores[0].back }}</strong></td>
                            {% for i in range(players|length) %}
                                <td class="in"><strong>{{ scores[i+1].back }}</strong></td>
                            {% endfor %}
                        </tr>

            <!-- Totals -->

                        <tr>
                            <td class="t-header {% if players|length == 3 %}shrink-font{% endif %}"><strong>Total</strong></td>
                            <td class="t-header {% if players|length == 3 %}shrink-font{% endif %}">{{ courses.total_yards }}</td>

                            <td class="t-header">{{ courses.total }}</td>
                            <td class="t-header"><strong>{{ scores[0].total }}</strong></td>
                            {% for i in range(players|length) %}
                                <td class="t-header"><strong>{{ scores[i+1].total }}</strong></td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        {% endif %}

<!-- 9 hole round -->

        {% if rounds.holes == 9 %}

<!-- Desktop 9 Hole Round -->

            <div class="table-container desktop-scorecard">
                <table class="table-bordered">
                    <tr>
                        <th colspan="22">{{courses.name}}</th>
                    </tr>
                    <tr>
                        <th colspan="22">{{dates}}</th>
                    </tr>
        <!-- Hole headers-->
                    <tr>
                        <td class="t-header">Hole</td>

                        {% for hole in range(1, 10) %}
                            <td class="hole">{{hole}}</td>
                        {% endfor %}
                        <td class="t-header">Total</td>
                    </tr>
        <!-- Yardage headers-->
                    <tr>
                        <td class="t-header">Yardage</td>

                        {% for num in range(1, 10) %}
                            <td class="yards">{{ courses["yards_" ~ num] }}</td>
                        {% endfor %}

                        <td class="t-header">{{courses.front_yards}}</td>
                    </tr>
        <!-- Handicap headers-->
                    <tr>
                        <td class="t-header">Handicap</td>

                        {% for num in range(1, 10) %}
                            <td class="handicap">{{ courses["handicap_" ~ num]}}</td>
                        {% endfor %}

                        <td class="t-header"></td>
                    </tr>
        <!-- Par headers -->
                    <tr>
                        <td class="t-header">Par</td>

                        {% for num in range(1, 10) %}
                            <td class="par">{{ courses["par_" ~ num] }}</td>
                        {% endfor %}

                        <td class="t-header">{{courses.front}}</td>
                    </tr>
        <!-- User's scores -->
                    <tr>
                        <td class="score">{{name}}</td>

                        {% for num in range(1, 10) %}
                            <td class="score">{{ scores[0]["hole_" ~ num] }}</td>
                        {% endfor %}
                        <td class="t-header">{{scores[0].total}}</td>
                    </tr>
        <!-- Player(s) scores, if any -->
                    {% for i in range(players|length) %}
                        <tr>
                            <td class="score">{{ players[i] }}</td>

                            {% for num in range(1, 10) %}
                                <td class="score">{{ scores[i + 1]["hole_" ~ num] }}</td>
                            {% endfor %}
                            <td class="t-header">{{ scores[i + 1].total }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>


<!-- Small Laptop 9 Hole Round -->

            <div class="table-responsive-md small-laptop">
                <table class="table-bordered ">
                    <tr>
                        <th colspan="22">{{courses.name}}</th>
                    </tr>
                    <tr>
                        <th colspan="22">{{dates}}</th>
                    </tr>
        <!-- Hole headers-->
                    <tr>
                        <td class="t-header">Hole</td>

                        {% for hole in range(1, 10) %}
                            <td class="hole">{{hole}}</td>
                        {% endfor %}
                        <td class="t-header">Total</td>
                    </tr>
        <!-- Yardage headers-->
                    <tr>
                        <td class="t-header">Yardage</td>

                        {% for num in range(1, 10) %}
                            <td class="yards">{{ courses["yards_" ~ num] }}</td>
                        {% endfor %}

                        <td class="t-header">{{courses.front_yards}}</td>
                    </tr>
        <!-- Handicap headers-->
                    <tr>
                        <td class="t-header">Handicap</td>

                        {% for num in range(1, 10) %}
                            <td class="handicap">{{ courses["handicap_" ~ num]}}</td>
                        {% endfor %}

                        <td class="t-header"></td>
                    </tr>
        <!-- Par headers -->
                    <tr>
                        <td class="t-header">Par</td>

                        {% for num in range(1, 10) %}
                            <td class="par">{{ courses["par_" ~ num] }}</td>
                        {% endfor %}

                        <td class="t-header">{{courses.front}}</td>
                    </tr>
        <!-- User's scores -->
                    <tr>
                        <td class="score">{{name}}</td>

                        {% for num in range(1, 10) %}
                            <td class="score">{{ scores[0]["hole_" ~ num] }}</td>
                        {% endfor %}
                        <td class="t-header">{{scores[0].total}}</td>
                    </tr>
        <!-- Player's scores, if any -->
                    {% for i in range(players|length) %}
                        <tr>
                            <td class="score">{{ players[i] }}</td>

                            {% for num in range(1, 10) %}
                                <td class="score">{{ scores[i + 1]["hole_" ~ num] }}</td>
                            {% endfor %}
                            <td class="t-header">{{ scores[i + 1].total }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

<!-- Tablet 9 Hole Scorecard-->

            <div class="tablet-scorecard">
                <div class="table-container">
                    <table class="table-bordered">
                        <tr>
                            <th colspan="{{ 5 + players | length}}">{{courses.name}}</th>
                        </tr>
                        <tr>
                            <th colspan="{{ 5 + players | length }}">{{dates}}</th>
                        </tr>
            <!-- Headers, vertical -->
                        <tr>
                            <th>Hole</th>
                            <th>Yards</th>
                            <th>HCP</th>
                            <th>Par</th>
                            <th>{{ name }}</th>
                            {% for player in players %}
                                <th>{{ player }}</th>
                            {% endfor %}
                        </tr>

            <!-- Front 9 -->

                        {% for hole in range(1, 10) %}
                            <tr>
                                <td class="hole">{{ hole }}</td>
                                <td class="yards"> {{ courses["yards_" ~ hole] }}</td>
                                <td class="handicap">{{ courses["handicap_" ~ hole] }}</td>
                                <td class="par">{{ courses["par_" ~ hole] }}</td>
                                <td>{{ scores[0]["hole_" ~ hole] }}</td>
                                {% for i in range(players|length) %}
                                    <td>{{ scores[i+1]["hole_" ~ hole] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

            <!-- Totals -->

                        <tr>
                            <td class="t-header"><strong>Total</strong></td>
                            <td class="t-header">{{ courses.total_yards }}</td>
                            <td class="t-header"></td>
                            <td class="t-header">{{ courses.total }}</td>
                            <td class="t-header"><strong>{{ scores[0].total }}</strong></td>
                            {% for i in range(players|length) %}
                                <td class="t-header"><strong>{{ scores[i+1].total }}</strong></td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>

<!-- Mobile 9 Hole Scorecard-->

            <div class="mobile-scorecard">
                <div class="table-container">
                    <table class="table-bordered">
                        <tr>
                            <th colspan="{{ 4 + players | length}}">{{courses.name}}</th>
                        </tr>
                        <tr>
                            <th colspan="{{ 4 + players | length }}">{{dates}}</th>
                        </tr>
            <!-- Headers, vertical -->
                        <tr>
                            <th>Hole</th>
                            <th>Yards</th>
                            <th>Par</th>
                            <th class="{% if players|length == 3 %}shrink-font{% endif %}">{{ name }}</th>
                            {% for player in players %}
                                <th class="{% if players|length == 3 %}shrink-font{% endif %}">{{ player }}</th>
                            {% endfor %}
                        </tr>

            <!-- Front 9 -->

                        {% for hole in range(1, 10) %}
                            <tr>
                                <td class="hole">{{ hole }}</td>
                                <td class="yards"> {{ courses["yards_" ~ hole] }}</td>
                                <td class="par">{{ courses["par_" ~ hole] }}</td>
                                <td>{{ scores[0]["hole_" ~ hole] }}</td>
                                {% for i in range(players|length) %}
                                    <td>{{ scores[i+1]["hole_" ~ hole] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

            <!-- Front / Out -->


            <!-- Totals -->

                        <tr>
                            <td class="t-header"><strong>Total</strong></td>
                            <td class="t-header">{{ courses.front }}</td>
                            <td class="t-header">{{ courses.front }}</td>
                            <td class="t-header"><strong>{{ scores[0].total }}</strong></td>
                            {% for i in range(players|length) %}
                                <td class="t-header"><strong>{{ scores[i+1].total }}</strong></td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        {% endif %}

    {% endfor %}

{% endblock %}
